
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@keyframes show-insights {
    0% {
        bottom: 50px;
    }
    100% {
        bottom: 0px;
    }
}

@keyframes hide-insights {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 50px;
    }
}

#data {
    position: relative;
    text-align: center;
}

.hero {
    box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.6);
    height: 60vh;
    margin: 30px;
    position: relative;
    max-width: 100vw;
}

.hero-background {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.hero, .hero-background {
    border-radius: 30px;
}

.intro-txt, .intro-txt > div {
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "Orbitron", system-ui;
    font-weight: 400;
    cursor: default;
}

#insights {
    overflow: hidden;
    font-size: 40px;
    line-height: 50px;
    max-height: 50px;
    position: relative;
    text-overflow: clip;
    bottom: 50px;
}

#insights-wrapper {
    position: absolute;
    overflow: hidden;
    left: 0px;
    right: 0px;
    bottom: -25px;
}

.intro-txt {
    font-size: 80px;
    left: 30px;
    position: absolute;
    top: 30px;
    z-index: 3;
}

.portfolio-img {
    background: none;
    border-bottom-right-radius: 30px;
    bottom: 1px;
    height: 350px;
    position: absolute;
    right: 0px;
    z-index: 3;
}